<head>
	<script src="./index.ts"></script>
	<link rel="stylesheet" href="./node_modules/skeleton-css/css/normalize.css" />
	<link rel="stylesheet" href="./node_modules/skeleton-css/css/skeleton.css" />
	<link rel="stylesheet" href="./main.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:image" content="https://s3-us-west-2.amazonaws.com/www.firstlevel.party/link_preview.jpg"/>
	<meta property="og:title" content="Henchmen Generator"/>
	<meta property="og:url" content="http://www.firstlevel.party"/>
	<meta property="og:type" content="website"/>
	<meta property="og:description" content="Tool for generating henchmen in OSE, B/X and other OSR games"/>

	<title>Henchmen Generator</title>
</head>

<div class="main">
</div>
