.container {
	background:
		linear-gradient(
			rgba(255, 255, 255, 0.95),
			rgba(255, 255, 255, 0.95)
		),
		url("./images/background.png") center center no-repeat;
	background-size: contain;
	min-height: 100%;
	height: 100%;
	padding-top: 10px;
}

.bump-top {
	margin-top: 2.5em;
}

emph {
	font-style: italic;
}

.hscroll-box {
	overflow-x: auto;
}

.min-to-container {
	min-width: 960px;
}
